<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.education.mapper.education.LanguagePointsMapper">

    <insert id="save" parameterType="map" useGeneratedKeys="true" keyProperty="id">
        insert into language_points
        <foreach collection="params.keys" item="key" open="(" close=")" separator="," >
            ${key}
        </foreach>
        values
        <foreach collection="params.values"  item="value" open="(" close=")" separator=",">
            #{value}
        </foreach>
    </insert>

    <update id="update" parameterType="map">
        update language_points
        <foreach collection="params.keys" item="key" open="set" separator="," >
            ${key} = #{params[${key}]}
        </foreach>
        where id = #{params.id}
    </update>

    <select id="queryList" resultType="map">

        select language.*, grade.name grade_name, subject.name subject_name from language_points language left join grade_info grade on language.grade_type
        = grade.id left join subject_info subject on language.subject_id = subject.id

        <where>
            <if test="parentId != null and parentId != ''">
                and language.parent_id = #{parentId}
            </if>
        </where>
    </select>

    <delete id="deleteById" parameterType="Integer">

    </delete>
</mapper>